.container__content {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content__left {
  width: 35%;
}

.span__item {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.span__comment {
  display: flex;
  flex-direction: column;
}

.item__title,
.item {
  font-family: "Poppins", sans-serif;
}

.item__title {
  color: #415a77;
  font-size: 1.5rem;
  font-weight: 700;
}

.item {
  font-size: 1.5rem;
  font-weight: 500;
}

.name {
  font-size: 2.5rem;
}

.map__wrapper {
  width: 35%;
  height: 75%;
  margin-right: 1rem;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.img__wrapper--single {
  width: 35%;
  height: 75%;
  margin-right: 1rem;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
