body {
  background-color: #e0e1dd;
}

h1 {
  color: #1b263b;
  font-family: Poppins;
}
.card {
  background-color: #ffffff;
  padding: 1rem 0 1rem 1rem;
  margin: 2rem 0;
  width: 500px;
  height: 200px;
  border: 1px solid rgb(79, 79, 79);
  border-radius: 10px;
  box-shadow: -1px 7px 6px -2px rgba(124, 124, 124, 0.31);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.card:hover {
  box-shadow: 1px 1px 10px 2px #5d5d5d;
}
