img {
  width: 100%;
  height: 100%;
}

.input__field {
  color: #ffffff;
  background-color: #415a77;
  border-radius: 4px;
}

.input__label {
  color: #ffffff !important;
}

.icon__pin {
  width: 40px;
}
