/* font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; */

.btn__line--white {
  color: #fff;
  padding: 1rem;
  border: solid 2px transparent;
}

.btn__line--white:hover {
  border: solid 2px #fff;
}
